doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/styles.css")
    body
        h1= title
        .cards-container
            each moto in data
                .card
                    h2= moto.marca + " " + moto.modelo
                    p ID: #{moto.id}
                    p Cilindros: #{moto.cantidad_de_cilindros}
                    p Cilindraje: #{moto.cilindrage}
                    p Segmento: #{moto.segmento}
        a(href="/motos") Volver a crear una moto
