doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/listMotos.css")
    body
        h1= title
        .cards-container.list-motos-container
            each moto in data
                .card.moto-card
                    h2= moto.properties.marca + " " + moto.properties.modelo
                    p ID: #{moto.id}
                    p Cilindros: #{moto.properties.cantidad_de_cilindros}
                    p Cilindraje: #{moto.properties.cilindrage}
                    p Segmento: #{moto.properties.segmento}
                    a(href="/edit/"+moto.id) Editar
        a(href="/") Volver a crear una moto
